.text-color {
  color: rgb(255, 255, 255);
}

.biography_header {
    color: #000000;
    margin: 50px 0px 0px 50px;
    padding-top: 20px;
}

.h1-header {
  font-weight: normal;
  font-style: italic;
  font-family: URW Chancery L;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
  padding: 10px 10px 40px 10px;
  margin: 50px 0px 0px 50px; 
}

#header-img {
    background-color: #000000;
}

.grey-box-txt {
  text-align: justify;
  margin: 10px 50px 0px 60px;
  padding-bottom: 20px;
  color: black;
}

#external_link {
  text-align: center;
  margin: 10px 0px -40px 0px;
  font-style: italic;
  font-size: 10px;
}

#top_img {
  display: block;
  margin: auto;
  padding: 40px 0px 10px 0px;
  width: 500px;
}

.grey-box {
  background-color: grey;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
  padding-bottom: 0px 0px 5px 0px;
}

.body-imgs {
    display: block;
    margin: auto;
    padding: 20px;
    width: 500px;
}

.body-txts {
    text-align: justify;
    margin: 10px 90px 10px 100px;
}

.title-section {
    color: #000000;
    margin: 0px 0px 20px 50px;
}

h2 {
  font-size: 20px;
  font-style: italic;
  color: black;
  margin: 0px 0px 10px 100px;
}

